/* color hunt: https://colorhunt.co/palette/004225f5f5dcffb000ffcf9d */

.page-container {
  height: 100vh;
  background-image: url(../image/pagebackground.jpeg);
  background-position: 50% 60%;
  color: rgb(245, 245, 220);
  font-family: "Exo 2", sans-serif;
}

.navbar {
  width: auto;
  display: flex;
  align-items: center;
}

.menu {
  width: 100vw;
  height: 50px;
  display: flex;
  gap: 20px;
  box-shadow: 4px 4px 4px 0px rgba(0, 66, 37, 0.69);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 66, 37, 0.69);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 66, 37, 0.69);
  background-color: rgb(245, 245, 220, 0.6);
}

.menu-item {
  width: 100px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  border: none;
  overflow: hidden;
}

.menu-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -100%;
  width: 80%;
  height: 80%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4));
  transform: scale(1.1) skew(27deg);
  -webkit-transform: scale(1.1) skew(27deg);
  -moz-transform: scale(1.1) skew(27deg);
  transition: left 650ms;
}

.menu-item:hover::before {
  left: 80%;
}

.menu-item a {
  text-decoration: none;
  color: rgb(0, 66, 37);
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.add-notes-wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.add-title {
  font-size: 55px;
  font-weight: 600;
  color: rgb(0, 66, 37);
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.user-input {
  background-color: rgb(245, 245, 220, 0.75);
  height: 150px;
  width: 300px;
  border: 0.5px solid rgb(255, 176, 0);
  border-radius: 10px;
  color: rgb(0, 66, 37);
  font-size: 18px;
  padding: 8px;
}

.user-input:focus,
.user-input:hover {
  background-color: rgb(245, 245, 220);
}

.title {
  height: 30px;
}

.btn {
  margin-top: 15px;
  background-color: rgb(255, 176, 0);
  color: rgb(245, 245, 220);
  box-shadow: 1px 1px 5px 0px rgba(245, 245, 220, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(245, 245, 220, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(245, 245, 220, 0.75);
  width: 150px;
  height: 40px;
  border-radius: 50px;
  transition: transfor 0.5s ease;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.btn:hover,
.btn:focus {
  transform: translateY(-2px);
  box-shadow: 0px 0.5em 5px 0.5em -0.8em;
  background-color: rgb(0, 66, 37);
  color: rgb(255, 176, 0);
  box-shadow: 1px 1px 5px 0px rgba(245, 245, 220, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(245, 245, 220, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(245, 245, 220, 0.75);
}

.last-notes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.last-note-title {
  font-size: 24px;
}

.last-note-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  width: 300px;
  padding: 5px;
  background-color: rgb(245, 245, 220);
  color: rgb(0, 66, 37);
  border-radius: 10px;
}

.note-text {
  font-size: 18px;
}
.note-text-title {
  font-size: 20px;
  font-weight: 600;
}

.see-more-btn {
  width: 100px;
  height: 30px;
  padding: 2px;
  border-radius: 20px;
  background-color: rgb(255, 207, 157);
  cursor: pointer;
  border: 2px solid rgb(0, 66, 37);
}

.see-more-btn:hover,
.see-more-btn:focus {
  background-color: rgb(0, 66, 37);
  color: rgb(255, 176, 0);
}

/*  */
/*  */
/*  */
/*  */

.notes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.note {
  width: 200px;
  min-height: 200px;
  padding: 10px;
  background-color: rgb(245, 245, 220, 0.9);
  color: rgb(0, 66, 37);
  border: 2px solid rgb(255, 207, 157);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.btns-wrapper {
  width: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.change-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.change-input {
  background-color: rgb(245, 245, 220);
  color: rgb(0, 66, 37);
  font-size: 16px;
  padding: 5px;
}

.save-btn {
  background-color: rgb(255, 176, 0);
}

.hidden {
  display: none;
}
/*  */
/*  */
/*  */
/*  */
/*  */
.footer {
  font-size: 18px;
  margin-left: 20px;
  position: fixed;
  bottom: 20px;
}
